<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>북마크 추가</title>
</head>
<body>
    <h3>새 북마크 추가</h3>
    <form action="{% url 'bookmark:reg_proc' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="북마크 이름"><br>
        <input type="text" name="url" placeholder="경로"><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>